* {
  margin: 0;
  padding: 0;
  color: #535353;
  box-sizing: border-box;
}

html, body, body .leaflet-container {
	height: 100%;
	margin: 0;
  font-family: 'Gothic A1', Helvetica, Arial, sans-serif;
  font-size: 11px;
}

[hidden] {
  display: none !important;
}

a {
  color: #028eb0;
}

a:hover {
  color: #016f8a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Public Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom:  0.363em;
}

p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.454em;
  margin-bottom:  1em;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  height: 6.363em;
  border-bottom: 0.75px solid #d8d8d8;
  align-items: center;
}

header h1 {
  font-size: 2.545em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}

header nav {
  display: flex;
  height: 100%;
}

header nav a {
  /* Sit the button just over the line */
  position: relative;
  top: 0.75px;

  display: flex;
  font-size: 1.454em;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  padding: 0 2em;
  color: #535353;
  border-bottom: 3px solid transparent;
}

header nav a.selected {
  border-bottom-color: #019A78;
}

form {
  max-width: 34em;
}

form > div {
  margin: 1em;
}

form label {
  display: block;
}

form input, form textarea {
  border: 0.75px solid #d8d8d8;
}

.sidebyside {
  display: flex;
  justify-content: center;
}

.sidebyside section {
  max-width: 26em;
  margin: 2em;
}

.sidebyside aside {
}

main, #map {
	width: 100%;
	height: 100%;
}

#filter {
  padding: 2em;
  display: flex;
  border-bottom: 0.75px solid #d8d8d8;
}

#filter h2 {
  padding-left: 2em;
  margin-right: auto;
}

#filter ul {
  display: flex; 
}

#filter li {
  list-style-type: none;
}

#filter ul a {
  padding: 1em;
  border: 0.75px solid #d8d8d8;
  text-decoration: none;
  color: #535353;
}

#filter ul li .selected {
  color: #fff;
  border-color: #019A78;
  background: #019A78;
}

#filter ul .list a::before,
#filter ul .map a::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.363em;
  position: relative;
  top: 4px;
}

#filter ul .map a::before,
#filter ul .list a::before {
  background: #535353;
  -webkit-mask-size: cover;
  mask-size: cover;
}

#filter ul .map .selected::before,
#filter ul .list .selected::before {
  background: #fff;
}

#filter ul .map a::before {
  -webkit-mask-image: url('/icons/map.svg');
  mask-image: url('/icons/map.svg');
}

#filter ul .list a::before {
  -webkit-mask-image: url('/icons/list.svg');
  mask-image: url('/icons/list.svg');
}

#filter ul li:first-child a {
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#filter ul li:last-child a {
  border-left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

#listFilter {
  display: flex;
}

#listFilter legend,
#listFilter label,
#listFilter input {
  display: flex;
  align-items: center;
}

#listFilter legend {
  margin-right: 2em;
}

#listFilter input[type='checkbox'] {
  width: 100px;
  -webkit-appearance: none;
  border: 0.75px solid #d8d8d8;
  border-radius: 20px;
  outline: none;
}

#listFilter input[type='checkbox'] + label {
  margin-left: -100px;
  width: 100px;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  margin-right: 2em;
}

#listFilter input[type='checkbox']:checked {
  border-color: #019A78;
  background: #019A78;
}

#listFilter input[type='checkbox']:checked + label {
  color: #fff;
}


#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Leaflet style */
body .leaflet-popup-content-wrapper,
body .leaflet-popup-tip {
  box-shadow: none;
}

body .leaflet-popup-content {
  line-height: initial;
  margin: 0;
}

body .leaflet-popup-content-wrapper,
.card {
  color: #535353;
  padding: 2.181em 1.454em 1.454em 1.454em;
  width: 20em;
  border: 0.75px solid #d8d8d8;
  border-radius: 3px;
  margin: 1em;
}

body .leaflet-popup-content-wrapper {
  margin-bottom: 0;
}

body .leaflet-popup-tip-container {
  bottom: -19px;
}

body .leaflet-popup-tip {
  border: 0.75px solid #d8d8d8;
}

body .leaflet-container a.leaflet-popup-close-button {
  text-indent: -999999px;
  background: url('/icons/exit.svg');
  background-size: cover;
  width: 14px;
  height: 14px;
  top: 14px;
  right: 14px;
}

.cardcontents {
  /* TODO: do we need this still? */
  width: calc(20em - 2.908em);
}

@media screen and (max-width: 800px) {
  .card {
    font-size: 13px;
    margin: 0.5em;
    width: 19em;
  }
  .cardcontents {
    width: calc(19em - 2.908em);
  }
}

.cardcontents .phone,
.cardcontents .map,
.cardcontents .website {
  display: block;
  margin-bottom: 0.363em;
  font-family: 'Public Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.cardcontents .phone {
  color: #535353;
  text-decoration: none;
  font-weight: 300;
}

.cardcontents .website:before,
.cardcontents .phone:before,
.cardcontents .map:before {
  content: "";
  width: 1.454em;
  height: 1.454em;
  margin-right: 0.363em;
  display: inline-block;
  position: relative;
  top: 4px;
}

.cardcontents .website:before {
  background: url('/icons/website.svg');
  background-size: cover;
}

.cardcontents .map:before {
  background: url('/icons/map.svg');
  background-size: cover;
}

.cardcontents .phone:before {
  background: url('/icons/phone.svg');
  background-size: cover;
}

.cardcontents h2 {
  font-size: 1.636em;
}

.cardcontents dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.727em;
}

.cardcontents dl div {
  display: flex;
  margin-right: 1em;
  align-items: center;
}

.cardcontents dl dt {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.818em;
}

.cardcontents dl dd {
  margin-left: 0.5em;
  font-weight: 500;
  font-size: 0.909em;
}

.cardcontents .icons {
  margin-top: 1em;
  display: flex;
}

.cardcontents .icons a {
  margin-right: 0.5em;
  display: block;
  width: 16px;
  height: 16px;
  text-indent: -999999px;
}

.cardcontents .icons .facebook {
  background: url('/icons/facebook.svg');
  background-size: cover;
}

.cardcontents .icons .twitter {
  background: url('/icons/twitter.svg');
  background-size: cover;
}

.cardcontents .icons .instagram {
  background: url('/icons/instagram.svg');
  background-size: cover;
}
